.td_sup{
    align-items: left;
    width: 100;
    justify-content: left;
    background-color: rgb(233, 233, 233);
}

.td_inf{
    align-items: center;
    justify-content: center;
    width: 150;
    background-color: rgb(236, 236, 236);
}

.input_text{
    align-items: center;
    justify-content: center;
    size: 12;
    border-width: 2px;
    border-style: solid;
    color: #009900;
    letter-spacing: 3px;
    font-size: 10px;
}

*{
    background-color: #86deff;
}

td{
    background-color: rgb(236, 236, 236);
}

input{
    background-color: rgb(217, 255, 244);
}

p{
    font-size: 16px;
    align-items: center;
    justify-content: center;
    color: #000000;
}

table{
    background-color: rgb(233, 233, 233);
}